pydantic>=2.0.0
click>=8.0.0
pandas
httpx>=0.28.0
PyYAML
plotly
tabulate
sqlparse
sqlalchemy
requests
fastapi>=0.68.0
uvicorn>=0.15.0
psycopg2-binary
db-dtypes
google-genai
python-dotenv
pyjwt
bcrypt
